<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190692696222-gjr6fj6ak3b9apu53dnnu31dsosa3c8j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190692696222-gjr6fj6ak3b9apu53dnnu31dsosa3c8j</string>
	<key>API_KEY</key>
	<string>AIzaSyDpzjxMgq2wv4JsLgxUjyhfYT1c8bRP_dM</string>
	<key>GCM_SENDER_ID</key>
	<string>190692696222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appChurchVolunteers</string>
	<key>PROJECT_ID</key>
	<string>ibbn-volunteers</string>
	<key>STORAGE_BUCKET</key>
	<string>ibbn-volunteers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190692696222:ios:963cc8fc30ca63cbcc5b8f</string>
</dict>
</plist>